html{
	height:100%;
}
body{
	width:100%;
	height:100%;
	display:table;
	table-layout:fixed;
}
.container-fluid{
	max-width: 1200px;
	margin: 0 auto;
}
.navbar-brand{
	margin:0 2rem -2.5rem 0;
}
#movie-list{
	margin:0 -25px;
}
.movies-holder{
	display:flex;
	flex-wrap:wrap;
}
.movie-item{
	width:200px;
	margin:0 25px 40px;
	cursor:pointer;
}
.movie{
	display:block;
}
.movie:hover{
	text-decoration:none;
}
.movie:hover img{
	transform:scale(1.05);
}
.movie img{
	width:100%;
	height:300px;
	background:#ccc;
	box-shadow:5px 10px 10px rgba(0, 0, 0, 0.3);
}
.movie .name{
	display:block;
	padding:15px 0 0;
	font-size:16px;
	line-height:1.2;
	color:#000;
}



.back-link{
	margin:0 0 20px;
}
.movie-detail-block{
	display: flex;
	font-size:20px;
}
.movie-detail-block .image-area{
	width: 30%;
}
.movie-detail img{
	width:100%;
	height:auto;
	background:#ccc;
	box-shadow:5px 10px 10px rgba(0, 0, 0, 0.3);
}
.movie-detail-block .text-area{
	width:70%;
	padding:0 30px;
}
.movie-detail-block ul{
	margin:0 0 30px;
	padding:0;
	list-style:none;;
}













.footer{
	width:100%;
	height:1%;
	overflow:hidden;
	display:table-footer-group;
}